@font-face {
  font-family: 'font';
  src: url('../fonts/mh__.ttf');
}

body {
  margin-left: calc(50% - 350px);
  margin-top: 70px;
  cursor: url('../pictures/flask.ico') 16 0, auto;	
}

canvas {
  border-radius: 8px;
  box-shadow: 0 2px 10px -2px rgb(0, 0, 0, 0.46);
  height: 700px;
  width: 700px;
  position: fixed;
  margin-top: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.title-text {
  font-family: 'font';
  font-size: 45px;
}